* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #222;
}
.main-container {
  width: 40%;
  height: 600px;
  margin: 50px auto;
  border-radius: 15px;
  background: linear-gradient(135deg, #00feba, #5b548a);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

label {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
}
.search {
  margin-right: 22px;
}

input {
  padding: 9px 50px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

#btn {
  height: 30px;
  width: 31px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px 6px;
  cursor: pointer;
}
#btn img {
  height: 18px;
}
.weather > img:nth-child(1) {
  display: block;
  margin: 40px auto;
  height: 150px;
}
.cityTemp {
  text-align: center;
  color: white;
  font-size: 35px;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  color: white;
  font-size: 20px;
}
.col1 {
  margin-left: 75px;
  display: flex;
}
.col1 > img:nth-child(1) {
  height: 45px;
}
#humidity {
  margin-left: 15px;
}

.col2 {
  margin-right: 75px;
  display: flex;
}
.col2 > img:nth-child(1) {
  height: 45px;
}

#wind {
  margin-left: 15px;
}

@media screen and (max-width: 1250px) {
  input {
    padding: 9px 30px;
  }
}
@media screen and (max-width: 1210px) {
  .main-container {
    width: 50%;
  }
}
@media screen and (max-width: 975px) {
  .main-container {
    width: 60%;
  }
}
@media screen and (max-width: 810px) {
  .main-container {
    width: 70%;
    height: 560px;
  }
}
@media screen and (max-width: 690px) {
  .main-container {
    width: 80%;
  }
}
@media screen and (max-width: 610px) {
  .main-container {
    width: 95%;
  }
  .col2 {
    margin-right: 35px;
  }
  .col1 {
    margin-left: 35px;
  }
}
@media screen and (max-width: 470px) {
  label {
    font-size: 17px;
    margin-left: 20px;
  }
  input {
    padding: 9px 8px;
  }
  .weather > img:nth-child(1) {
    margin: 30px auto;
    height: 135px;
  }
  .cityTemp {
    height: 35px;
  }
  .col2 > img:nth-child(1) {
    height: 35px;
  }
  .info {
    font-size: 15px;
    margin-top: 120px;
  }
  .col1 > img:nth-child(1) {
    height: 30px;
  }
}

@media screen and (max-width: 400px) {
  label {
    margin-left: 15px;
  }
  input {
    padding: 9px 2px;
  }
  .search {
    margin-right: 14px;
  }
  .weather > img:nth-child(1) {
    height: 110px;
  }
  .cityTemp {
    font-size: 30px;
  }
}
@media screen and (max-width: 370px) {
  .search {
    margin-right: 5px;
  }
  input {
    padding: 9px 0px;
    margin-right: 0px;
  }
  label {
    margin-left: 9px;
  }
}
