* {
  margin: 0;
  padding: 0;
}
#text {
  text-align: center;
  margin-top: 70px;
  font-size: 25px;
}
body {
  background-color: #39297b;
  color: #fff;
}
.search {
  height: 60px;
  background-color: #434989;
  width: 400px;
  margin: 34px auto;
  display: flex;
  align-items: center;
}
#input {
  padding: 9px 70px;
  margin-left: 8px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 15px;
}
#searchBtn {
  padding: 21px 18px;
  background-color: #ff3929;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
#moreBtn {
  border: 0;
  padding: 8px 1px;
  border-radius: 5px;
  background-color: #ff3929;
  color: #fff;
  font-size: 12px;
  margin: auto;
  display: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.images {
  width: 80%;
  margin: 70px auto 35px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
.images a img {
  height: 220px;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .images {
    grid-gap: 15px;
  }
  .images {
    grid-template-columns: auto auto;
  }
  #text {
    margin-top: 50pxpx;
  }
}
@media screen and (max-width: 450px) {
  #text {
    margin-top: 42px;
  }
  #input {
    padding: 7px 30px;
  }
  .search {
    height: 55px;
    width: 321px;
  }
  #searchBtn {
    padding: 18px 18px;
  }
  .images a img {
    height: 150px;
  }
}
@media screen and (max-width: 420px) {
  .images {
    grid-template-columns: auto;
  }
}
